.horizontal-divider {
  width: 360px;
}

.date-time-rounded {
  width: 175px;
  border-color: black;
}

.date-time-icon-margin {
  margin: 2px;
}

.have_a_nice_day_color {
  color: rgba(54, 114, 139, 0.50);
  letter-spacing: 1.44px
}

.submit_button_color {
  color: rgba(0, 0, 0, 0.50);
}