/* Resetting default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Header styles */
.head {
  background-color: #36728B80;
  display: flex;
  width: 100%;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.head h1 {
  color: #36728B;
  font-weight: 800;
  font-size: 24px;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Avatar styles */
.avatar {
  position: relative;
  display: flex;
  justify-content: center;    
  top: 60px;
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.avatar img {
  border-radius: 50%;
  background: lightgray 50% / cover no-repeat;
}

/* Username styles */
.username {
  position: relative;
  top: 90px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

/* Profile styles */
.prof {
  position: relative;
  top: 100px;
  color: #36728B;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.52px;
  text-transform: uppercase;
}

/* Switch styles */
.switch {
  position: relative;
  top:190px;
  display: inline-block;
  width: 5rem;
  height: 2.4rem;
  background-color: rgba(31, 132, 150, 0.478);
  border-radius: 3rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.396);
}

.switch::after {
  content: "";
  position: absolute;
  top: .2rem;
  left: .2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
}

input[type="checkbox"]:checked + .switch::after {
  transform: translateX(2.6rem);
}

input[type="checkbox"]:checked + .switch {
  background-color: rgba(0, 128, 0, 0.855);
}

input[type="checkbox"] {
  display: none;
}

/* Toggle container styles */
.toggle-container {
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
}

/* Button container styles */
.buttons {
  position: relative;
  top: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Button styles */
.attBtn,
.leaveBtn,
.holidayBtn {
  border: 2px solid black;
  border-radius: 6px;
  width: 100%;
  max-width: 343px;
  height: 52px;
  margin-bottom: 10px;
  font-weight: 900;
  background-color: #36728B80;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.351);
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Media query for smaller screens */
@media screen and (max-width: 2000px) {
  .avatar {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Home page background styles */
.homepg {
  position: relative;
}

.homepg::before {
  content: "";
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url('../../assets/Ellipse 3.png');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
